body {
  padding: 50px;
  background-color: navy;
  font-family: sans-serif;
}
.nflListMain .header input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid black;
}
.nflListMain .header button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  background-color: red;
  color: #FFF;
  border: 2px solid blue;
}

.nflListMain .header button:hover {
  background-color: grey;
  border: 2px solid white;
  cursor: pointer;
}
